{% extends 'base.html' %}
{% block body %}


    <div class="container">
        <form action="/" method="post">
            <h1>To-Do List</h1>
            <input type="text" id="taskInput" name="title" placeholder="Add a new task...">
            <input type="text" id="description" name="desc" placeholder="Add Description...">
            <button id="addTaskButton">Add Task</button>
            <ul id="taskList"></ul>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table table-hover">
            

                {% if allTodo|length !=0%}
                <thead>
                    <tr>
                        <th scope="col">Sno.</th>
                        <th scope="col">Task</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                

                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td class="crazy_buttons">
                        <a class="btn btn-primary btn-sm mx-3" href="/update/{{ loop.index0 }}" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 2.5rem; --bs-btn-font-size: 1rem;">Update</a>
                        <a class="btn btn-outline-danger btn-sm mx-3" href="/delete/{{ loop.index0 }}" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 2.5rem; --bs-btn-font-size: 1rem;">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
{% endblock body %}